
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/_LoginMasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-lg-3">


    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-pull-12">
                <br><br>
                <h2>Update Your Password</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                User Name
            </div>
            <div class="col-lg-6" style="padding:2px">
                <input id="txtUserName" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                Old Password
            </div>
            <div class="col-lg-6" style="padding:2px">
                <input id="txtOldPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                New Password
            </div>
            <div class="col-lg-6" style="padding:2px">
                <input id="txtPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                Confirm Password
            </div>
            <div class="col-lg-6" style="padding:2px">
                <input id="txtConfirmPassword" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="button" class="btn btn-success pull-right" value="Update" id="ResetBtn" />
            </div>
        </div>
    </div>


</div>



<script>
    function UpdateUserPassword() {

        var userid = $.cookie('userid');
        $.ajax({
            type: "POST",
            url: SATYA + 'api/UserDetails/GetDetailsByUserId/' + userid,
            contentType: "application/json; charset=utf-8",
            //data: JSON.stringify(postData),
            dataType: "json",
            success: function (msg) {

                if (msg == null) {
                    alert("Unknown Error!!!");
                }

                else {
                    $("#txtUserName").val(msg[0].UserName);

                }



            },
            error: function (req, status, error) {
                alert("Error try again");
            }
        });

    }
    $(document).ready(function () {


        UpdateUserPassword();


        $("#ResetBtn").click(function () {
            var userName = $("#txtUserName").val();
            var oldPassword = $("#txtOldPassword").val();

            var password = $("#txtPassword").val();
            var cPassword = $("#txtConfirmPassword").val();

            if (userName != "") {

                if (password === cPassword) {
                    var postData =
                    {
                        "UserName": userName,
                        "OldPassword": oldPassword,
                        "NewPassword": password
                    };
                    console.log(postData);
                    console.log(JSON.stringify(postData));
                    $.ajax({
                        type: "POST",
                        url: SATYA + 'api/User/ResetPassword',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(postData),
                        dataType: "json",
                        success: function (msg) {

                            if (msg == null) {
                                alert("Unknown Error!!!");
                            }

                            else {

                                    window.location.href = "/Login/Index";
                                     alert(msg);

                                  }



                        },
                        error: function (req, status, error) {
                            alert("Error try again");
                        }
                    });
                }
                else {
                    alert("Password and Confirm Password are not same.");
                }
            }
            else {
                alert("Please enter user name");
            }
        });

    });
</script>

