
@{
    ViewBag.Title = "FrequencyType";
    Layout = "~/Views/_AdminMasterLayoutPage.cshtml";
}

}

<div class="row">

    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <h2>FrequencyType Input Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                Name
            </div>
            <div class="col-lg-6" style="padding:2px">
                <input id="Name" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <input type="button" class="btn btn-success pull-right" value="Add" id="userBtnAdd" />
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <br>
        <br>
        <br>
        <div id="userGrid"></div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var url = WebAPIURL + "api/FrequencyType/GetAll";
        // prepare the data

        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'FrequencyTypeId', type: 'int' },
                { name: 'Name' },
                { name: 'IsActive', type: 'bool' }
            ],
            id: 'Id',
            url: url,
            root: 'data'
        };
        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#userGrid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                columnsresize: true,
                columns: [
                    { text: 'Id', dataField: 'FrequencyTypeId', width: 200},
                    { text: 'Name', dataField: 'Name', width: 200},
                    { text: 'IsActive', dataField: 'IsActive'}
                ]
            });
    });

        $("#userBtnAdd").click(function () {

            var Name = $("#Name").val();

    var postData = {
        "Name": Name,
    };

    $.ajax({
        type: "POST",
        url: WebAPIURL + 'api/UserData/Add',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(postData),
        dataType: "json",
        success: function (msg) {

            alert(msg);
            window.location.reload();
        },
        error: function (req, status, error) {
            alert("Error try again");
        }
    });

        });



</script>


